<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta http-equiv="context-type" content="text/html; charset=UTF-8"/>
    <title>Jogmedia</title>
    <!--bootstrap, icon, font-->
    <link th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
    <link th:href="@{//cdnjs.cloudflare.com/ajax/libs/material-design-lite/1.1.0/material.min.css}" rel="stylesheet" media="screen"/>
    <link th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css}" rel="stylesheet" media="screen"/>

    <!--data-Table-->
    <link rel="stylesheet" type="text/css" th:href="@{//cdn.datatables.net/1.10.16/css/jquery.dataTables.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{https://cdn.datatables.net/responsive/2.2.1/css/responsive.dataTables.min.css}"/>

    <!--creation-->
    <link th:href="@{/css/manager.css}" rel="stylesheet" media="screen"/>
</head>
<body>
<div class="wrapper">
    <div class="sidebar" data-color="green">
        <div class="logo">
            <a href="/store" class="simple-text">
                JOGMEDIA
            </a>
        </div>
        <div class="sidebar-wrapper">
            <ul class="nav">
                <li>
                    <a href="/store">
                        <i class="fa fa-home fa-1"></i>
                        <p>Store</p>
                    </a>
                </li>
                <li class="active">
                    <a href="/book">
                        <i class="fa fa-book fa-1"></i>
                        <p>Book</p>
                    </a>
                </li>
                <li>
                    <a href="/category">
                        <i class="fa fa-th-list fa-1"></i>
                        <p>Category</p>
                    </a>
                </li>
                <li>
                    <a href="/report">
                        <i class="fa fa-file fa-1"></i>
                        <p>Report</p>
                    </a>
                </li>
                <li>
                    <a href="/tampilemp">
                        <i class="fa fa-user fa-1"></i>
                        <p>Employee</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="main-panel">
        <nav class="navbar navbar-transparent navbar-absolute">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#"> BOOK MASTER </a>
                </div>
                <div class="collapse navbar-collapse">
                    <form class="navbar-form navbar-right" th:action="@{/logout}" method="post">
                        <button type="submit" class="btn btn-white btn-round">
                            <i class="fa fa-sign-out fa-1"></i>&nbsp;Signout
                            <div class="ripple-container"></div>
                        </button>
                    </form>
                    <ul class="nav navbar-nav navbar-right">
                        <li th:inline="text"><a><i class="fa fa-user fa-1"></i> Hi, [[${#httpServletRequest.remoteUser}]]!</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header" data-background-color="green">
                                <h4 class="title">Book Detail</h4>
                            </div>
                            <div class="card-content">
                                <form th:object="${book}" th:action="@{/book/}" method="post">
                                    <input type="hidden" th:field="*{book_id}"/>
                                    <input type="hidden" th:field="*{status}"/>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group label-floating">
                                                <label class="control-label">ISBN</label>
                                                <input th:field="*{isbn}" type="text" class="form-control" required="required" maxlength="13"/>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group label-floating">
                                                <label class="control-label">Title</label>
                                                <input th:field="*{book_title}" type="text" class="form-control" required="required"/>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group label-floating">
                                                <label class="control-label">Author</label>
                                                <input th:field="*{author}" type="text" class="form-control" required="required"/>
                                            </div>
                                        </div>
                                    </div>
                                    <!--baris kedua-->
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group label-floating">
                                                <label class="control-label">Publisher</label>
                                                <input th:field="*{publisher}" type="text" class="form-control" required="required"/>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group label-floating">
                                                <label class="control-label">Category</label>
                                                <select th:field="*{category_id}" class="form-control" id="sel1">
                                                    <option th:each="cat : ${categories}"
                                                            th:value="${cat.category_id}"
                                                            th:text="${cat.category_name}">
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group label-floating">
                                                <label class="control-label">Location</label>
                                                <input th:field="*{location}" type="text" class="form-control" required="required"/>
                                            </div>
                                        </div>
                                    </div>
                                    <!--baris ketiga-->
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group label-floating">
                                                <label class="control-label">Price</label>
                                                <input th:field="*{price_before}" type="number" class="form-control" required="required" min="100"/>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group label-floating">
                                                <label class="control-label">Stock</label>
                                                <input th:field="*{stok}" type="number" class="form-control" required="required" min="1"/>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group label-floating">
                                                <label class="control-label">Discount</label>
                                                <input th:field="*{discount}" type="number" class="form-control" min="0"/>
                                            </div>
                                        </div>
                                    </div>
                                    <button type="submit" value="Save" class="btn btn-warning pull-right" >Save</button>
                                    <div class="clearfix"></div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer">
            <div class="container-fluid">
                <p class="copyright pull-right">
                    &copy;
                    <script>
                        document.write(new Date().getFullYear())
                    </script>
                    <a href="/store">JOGMEDIA</a>
                </p>
            </div>
        </footer>
    </div>
</div>
</body>
<!--core-->
<script type="text/javascript" th:inline="javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" th:inline="javascript" src="//code.jquery.com/jquery-1.12.4.js"></script>
<script type="text/javascript" th:inline="javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!--dataTables-->
<script type="text/javascript" th:inline="javascript" charset="utf8" src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.js"></script>
<script type="text/javascript" th:inline="javascript" charset="utf8" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" th:inline="javascript" charset="utf8" src="https://cdn.datatables.net/1.10.16/js/dataTables.material.min.js"></script>
<script type="text/javascript" th:inline="javascript" charset="utf8" src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js"></script>
<!--jQuery navbar phone-->
<script type="text/javascript" th:inline="javascript" charset="utf8" th:src="@{js/perfect-scrollbar.jquery.min.js}"></script>
<script type="text/javascript" th:inline="javascript" charset="utf8" th:src="@{js/material-dashboard.js}"></script>

<!--creation-->
<script>
    $(document).ready(function() {
        $('#showTable').DataTable( {
            columnDefs: [
                {
                    targets: [ 0, 1, 2 ],
                    className: 'mdl-data-table__cell--non-numeric'
                }
            ]
        } );
    } );
</script>
<script>
    $(document).ready(function() {
        var table = $('#showTable').DataTable();
    } );
</script>
</html>