<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <link th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
    <link th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css}" rel="stylesheet" media="screen"/>
    <link th:href="@{/css/cashier.css}" rel="stylesheet" media="screen"/>
</head>
<body class="bd-login">
<div class="container">
    <div class="col-sm-offset-3 col-md-offset-4 login">
        <div class="panel-group">
            <div class="panel panel-default pn-login">
                <div class="panel-heading pn-login">
                    <h3><center><strong>JOGMEDIA</strong></center></h3>
                </div>
                <form th:action="@{/login}" method="post">
                    <fieldset>
                        <div class="panel-body">
                            <div th:if="${param.error}">
                                <div class="alert alert-danger">
                                    Invalid username and password.
                                </div>
                            </div>
                            <div th:if="${param.logout}">
                                <div class="alert alert-info">
                                    You have been logged out.
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row-fluid input-group">
                                    <span class="input-group-addon">
                                      <i class="fa fa-user"></i>
                                    </span>
                                    <input type="text" name="username" id="username" class="form-control"
                                           placeholder="Username" required="true" autofocus="true"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row-fluid input-group ip-pwd">
                                    <span class="input-group-addon">
                                      <i class="fa fa-lock"></i>
                                    </span>
                                    <input type="password" name="password" id="password" class="form-control"
                                           placeholder="Password" required="true"/>
                                </div>
                            </div>
                            <input type="submit" class="btn btn-default pull-right btn-all btn-block" value="Login"/>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>