<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta http-equiv="context-type" content="text/html; charset=UTF-8"/>
    <title>Jogmedia</title>
    <!--bootstrap, icon, font-->
    <link th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
    <link th:href="@{//cdnjs.cloudflare.com/ajax/libs/material-design-lite/1.1.0/material.min.css}" rel="stylesheet" media="screen"/>
    <link th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css}" rel="stylesheet" media="screen"/>

    <!--data-Table-->
    <link rel="stylesheet" type="text/css" th:href="@{//cdn.datatables.net/1.10.16/css/jquery.dataTables.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{https://cdn.datatables.net/responsive/2.2.1/css/responsive.dataTables.min.css}"/>

    <!--creation-->
    <link th:href="@{/css/manager.css}" rel="stylesheet" media="screen"/>
</head>

<body>
<div class="wrapper">
    <div class="sidebar" data-color="green">
        <div class="logo">
            <a href="/store" class="simple-text">
                <strong>JOGMEDIA</strong>
            </a>
            <center>
                <span th:inline="text"> Hi, [[${#httpServletRequest.remoteUser}]]!</span>
                <form th:action="@{/logout}" method="post">
                    <button type="submit" class="btn btn-white btn-round">
                        <i class="fa fa-sign-out fa-1"></i>&nbsp;Signout
                        <div class="ripple-container"></div>
                    </button>
                </form>
            </center>
        </div>
        <div class="sidebar-wrapper">
            <ul class="nav">
                <li>
                    <a href="/store">
                        <i class="fa fa-home fa-1"></i>
                        <p>Store</p>
                    </a>
                </li>
                <li>
                    <a href="/book">
                        <i class="fa fa-book fa-1"></i>
                        <p>Book</p>
                    </a>
                </li>
                <li class="active">
                    <a href="/category">
                        <i class="fa fa-th-list fa-1"></i>
                        <p>Category</p>
                    </a>
                </li>
                <li>
                    <a href="/report">
                        <i class="fa fa-file fa-1"></i>
                        <p>Report</p>
                    </a>
                </li>
                <li>
                    <a href="/tampilemp">
                        <i class="fa fa-user fa-1"></i>
                        <p>Employee</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="main-panel">
        <nav class="navbar navbar-transparent navbar-absolute">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#"> CATEGORY MASTER </a>
                </div>
            </div>
        </nav>
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header" data-background-color="green">
                                <div class="nav-tabs-navigation">
                                    <div class="nav-tabs-wrapper">
                                        <ul class="nav nav-tabs" data-tabs="tabs" style="background: transparent!important;">
                                            <li>
                                                <a href="/category">
                                                    <i class="fa fa-th-list fa-1"></i>&nbsp; All Category
                                                    <div class="ripple-container"></div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="/category/createCategory" class="btn btn-white btn-round" style="color: black!important;">
                                                    <i class="fa fa-plus fa-1"></i>&nbsp; New Category
                                                    <div class="ripple-container"></div>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!--content tab-->
                            <div class="card-content">
                                <div class="tab-content">
                                    <!--<form class="form-horizontal" th:action="@{/category/search}" method="post">-->
                                        <!--&lt;!&ndash;Search Category&ndash;&gt;-->
                                        <!--<div class="col-md-3"></div>-->
                                        <!--<div class="col-md-6 row-fluid input-group" style="margin-top:3%">-->
                                            <!--<input type="text" class="form-control" name="searchKey" th:value="${searchKey}" placeholder="Category Name"/>-->
                                            <!--<span class="input-group-btn">-->
                                              <!--<button class="btn btn-default btn-search btn-sm" type="button" name="button" >Search</button>-->
                                            <!--</span>-->
                                        <!--</div>-->
                                        <!--<div class="col-md-3"></div>-->
                                    <!--</form>-->
                                    <div class="display tab-pane table-responsive active" th:if="${not #lists.isEmpty(category)}" style="align-items: left!important;">
                                        <table class="display table" id="showTable">
                                            <thead class="text-primary">
                                            <th>Name</th>
                                            <th>Description</th>
                                            <th>Status</th>
                                            <th>Action</th>
                                            </thead>
                                            <tbody>
                                            <tr th:each="category: ${category}">
                                                <td th:text="${category.category_name}"></td>
                                                <td th:text="${category.category_desc}"></td>
                                                <td th:if="${category.status == 1}" th:text="Active"></td>
                                                <td th:if="${category.status == 0}" th:text="Non-Active"></td>
                                                <td>
                                                    <a th:href="${'/category/editCategory/'+category.category_id}">
                                                        Edit &nbsp;|
                                                    </a>
                                                    <a th:href="${'/category/softDelete/'+category.category_id}">
                                                        <span th:if="${category.status == 1}" th:text="Non-active">Active</span>
                                                        <span th:if="${category.status == 0}" th:text="Active">Non-active</span>
                                                    </a>

                                                    <!--<a th:href="${'/category/hapus/'+category.category_id}">-->
                                                    <!--<button class="btn btn-danger">Delete</button>-->
                                                    <!--</a>-->
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer">
            <div class="container-fluid">
                <p class="copyright pull-right">
                    &copy;
                    <script>
                        document.write(new Date().getFullYear())
                    </script>
                    <a href="/store">JOGMEDIA</a>
                </p>
            </div>
        </footer>
    </div>
</div>
</body>
<!--core-->
<script type="text/javascript" th:inline="javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" th:inline="javascript" src="//code.jquery.com/jquery-1.12.4.js"></script>
<script type="text/javascript" th:inline="javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!--dataTables-->
<script type="text/javascript" th:inline="javascript" charset="utf8" src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.js"></script>
<script type="text/javascript" th:inline="javascript" charset="utf8" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" th:inline="javascript" charset="utf8" src="https://cdn.datatables.net/1.10.16/js/dataTables.material.min.js"></script>
<script type="text/javascript" th:inline="javascript" charset="utf8" src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js"></script>
<!--jQuery navbar phone-->
<script type="text/javascript" th:inline="javascript" charset="utf8" th:src="@{js/perfect-scrollbar.jquery.min.js}"></script>
<script type="text/javascript" th:inline="javascript" charset="utf8" th:src="@{js/material-dashboard.js}"></script>

<!--creation-->
<script type="text/javascript" th:inline="javascript">
    $('.btnActive').click(function(){
        var $this = $(this);
        $this.toggleClass('btnActive');

        if($this.hasClass('btnActive')){
            $this.text('Active');
        } else {
            $this.text('Deactive');
        }
    });
</script>
<script>
    $(document).ready(function() {
        $('#showTable').DataTable( {
            columnDefs: [
                {
                    targets: [ 0, 1, 2 ],
                    className: 'mdl-data-table__cell--non-numeric'
                }
            ]
        } );
    } );
</script>
<script>
    $(document).ready(function() {
        var table = $('#showTable').DataTable();
    } );
</script>
</html>