<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta http-equiv="context-type" content="text/html; charset=UTF-8"/>
    <title>Jogmedia</title>
    <!--bootstrap, icon, font-->
    <link th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
    <link th:href="@{//cdnjs.cloudflare.com/ajax/libs/material-design-lite/1.1.0/material.min.css}" rel="stylesheet" media="screen"/>
    <link th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css}" rel="stylesheet" media="screen"/>

    <!--data-Table-->
    <link rel="stylesheet" type="text/css" th:href="@{//cdn.datatables.net/1.10.16/css/jquery.dataTables.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{https://cdn.datatables.net/responsive/2.2.1/css/responsive.dataTables.min.css}"/>

    <!--creation-->
    <link th:href="@{/css/manager.css}" rel="stylesheet" media="screen"/>
</head>
<body>
<div class="wrapper">
    <div class="sidebar" data-color="green">
        <div class="logo">
            <a href="/store" class="simple-text">
                <strong>JOGMEDIA</strong>
            </a>
            <center>
                <span th:inline="text"> Hi, [[${#httpServletRequest.remoteUser}]]!</span>
                <form th:action="@{/logout}" method="post">
                    <button type="submit" class="btn btn-white btn-round">
                        <i class="fa fa-sign-out fa-1"></i>&nbsp;Signout
                        <div class="ripple-container"></div>
                    </button>
                </form>
            </center>
        </div>
        <div class="sidebar-wrapper">
            <ul class="nav">
                <li class="active">
                    <a href="/store">
                        <i class="fa fa-home fa-1"></i>
                        <p>Store</p>
                    </a>
                </li>
                <li>
                    <a href="/book">
                        <i class="fa fa-book fa-1"></i>
                        <p>Book</p>
                    </a>
                </li>
                <li>
                    <a href="/category">
                        <i class="fa fa-th-list fa-1"></i>
                        <p>Category</p>
                    </a>
                </li>
                <li>
                    <a href="/report">
                        <i class="fa fa-file fa-1"></i>
                        <p>Report</p>
                    </a>
                </li>
                <li>
                    <a href="/tampilemp">
                        <i class="fa fa-user fa-1"></i>
                        <p>Employee</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="main-panel">
        <nav class="navbar navbar-transparent navbar-absolute">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse">
                </div>
            </div>
        </nav>
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="card card-stats">
                            <div class="card-header" data-background-color="green">
                                <i class="fa fa-home fa-1"></i>
                                <h4>STORE</h4>
                                <a th:href="'/store/edit/' +  ${store.get(0).store_id}" class="btn btn-white btn-round" style="color: black!important;">
                                    <i class="fa fa-pencil fa-1"></i>
                                    Edit Store
                                    <div class="ripple-container"></div>
                                </a>
                            </div>
                            <div class="card-content" th:each="s: ${store}" >
                                <span class="label label-default">store</span>
                                <h3 class="title"><strong th:text="${s.store_name}"></strong></h3>
                                <span class="label label-default">address</span>
                                <h4 class="title" th:text="${s.address + ' - ' + s.post_code}"></h4>
                                <span class="label label-default">npwp</span>
                                <h4 class="title" th:text="${s.npwp}"></h4>
                                <span class="label label-default">email</span>
                                <h4 class="title" th:text="${s.email }"></h4>
                            </div>
                            <div class="card-footer">
                                <div class="stats">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer">
            <div class="container-fluid">
                <p class="copyright pull-right">
                    &copy;
                    <script>
                        document.write(new Date().getFullYear())
                    </script>
                    <a href="/store">JOGMEDIA</a>
                </p>
            </div>
        </footer>
    </div>
</div>
</body>
<!--core-->
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-1.12.4.js"></script>
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!--dataTables-->
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.16/js/dataTables.material.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js"></script>
<!--jQuery navbar phone-->
<script type="text/javascript" charset="utf8" th:src="@{js/perfect-scrollbar.jquery.min.js}"></script>
<script type="text/javascript" charset="utf8" th:src="@{js/material-dashboard.js}"></script>

<!--creation-->
<script>
    $(document).ready(function() {
        $('#showTable').DataTable( {
            columnDefs: [
                {
                    targets: [ 0, 1, 2 ],
                    className: 'mdl-data-table__cell--non-numeric'
                }
            ]
        } );
    } );
</script>
<script>
    $(document).ready(function() {
        var table = $('#showTable').DataTable();
    } );
</script>
</html>